<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moira.smallhabitbackend.user.mapper.UserMapper">
    <!-- 회원가입 -->
    <select id="checkEmail">
        SELECT COUNT(id) AS USER_CNT
        FROM   USER
        WHERE  email = #{email}
    </select>
    <select id="checkNickname">
        SELECT COUNT(id) AS USER_CNT
        FROM   USER
        WHERE  nickname = #{nickname}
    </select>

    <insert id="insertUser" parameterType="com.moira.smallhabitbackend.user.entity.User">
        INSERT INTO USER (
               id
             , role
             , status
             , email
             , password
             , name
             , nickname
             , phone
             , rtk
             , last_login_at
             , created_at
             , updated_at
        )
        VALUES (
               #{id}
             , #{role}
             , #{status}
             , #{email}
             , #{password}
             , #{name}
             , #{nickname}
             , #{phone}
             , null
             , null
             , CURRENT_TIMESTAMP
             , CURRENT_TIMESTAMP
        )
    </insert>
</mapper>